{% extends "base.html" %}

{% block title %} Covid-19 {% endblock %}
 
{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h1 class="contact-heading uppercase text-center">Covid-19</h1>
                <h3 class="uppercase text-center">We Are Here To Help!</h3>
                    <div class="text-center">
                        <h5>Stay Home, Stay Safe!</h5>
                        <br>
                            <p>Have you got the feeling of being trapped? Feeling down about the prospect of being stuck at home? 
                                Keeping the adventure going doesn’t just involve being miles away from home, in fact, your next adventure 
                                can be right in your living room or garden.
                            <p>As a company full of outdoor enthusiasts, we know that it’s a bizarre message that comes from us asking you guys
                             to stay at home and not pursue that inner adventure drive that we all have. In the interest of health and safety for 
                            everyone, at this time, we do advise you put your plans on hold and stay put. But, that doesn't mean you have to drop 
                             everything you love and put everything on hold, we have some great ideas on how you can still keep your passion for 
                             adventure alive…</p>
                             <p>During this time please be aware that there might be a delay in recieving your order and on all returns.
                             This is simply due to many of our team working from home and only limited factory workers to reduce 
                             the risk of spreading and catching Covid-19. </p>
                             <p>We thank you for your co-operation in advance.</p>
                             <p>Love, Uncle Jib's Team.</p>
                    </div>
        </div>
    </div> 
</section>





{% endblock %}