{% extends 'base.html' %}

{% block title %} delivery{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
        <br>
        <br>
            <h1 class="blue-text">Delivery Information</h1>
            <hr>
            <h3>Free Standard Delivery On Selected Items</h3>
            <p>Free standard delievery is available on a wide variety of products across the entire store</p>
            <p>All orders over £150 will qualify for free delievery within the England, Scotland and Wales.</p>
            <p>All orders over £250 will qualify for free delivery across europe. <strong>Please Note</strong> 
                This only includes France, Spain, Switzerland, Italy, Germany, Croatia, Austria, Czechia, Portugal
                , Belgium, Netherlands, Hungary and Ireland</p>
            
            <hr>
            <h4>Acceptance of Delivery</h4>
            <br>
            <p>All items will be delivered to the address that you have provided, and not necessarily you in person.
                If someone else signs for or otherwise accepts your parcel, the parcel will be deemed to have been delivered and no claim for none delivery will be accepted.
                If your parcel is delivered to BFPO, a block of flats, a university halls of residence, a house of multiple occupancy or a place of work it will be up to you to recover the parcel from whoever accepted it.
                All deliveries must be accepted upon presentation by our delivery agents, even if you no longer want the products.
                Refusal to accept delivery of a parcel will render you liable for return delivery charges which can be substantial.
                If there is a problem with the parcel you are receiving, please still accept the delivery, ask the courier to record the nature of the problem and then contact us so we can attempt to resolve the issue for you.
                Re-delivery or redirection may be possible at additional cost. 
                Damage caused in transit can only be claimed if the damage is reported to the carrier upon signing for the goods</p>

            <div class="text-center m-4">
                <p>Cant find your question? Why not write to use! We aim to reply to all your questions within 24hours.</p>

                <a href="{% url 'contact' %}" class="btn btn-primary">Get in touch</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}