{% extends 'base.html' %}

{% block title %} delivery{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
        <br>
        <br>
            <h1 class="blue-text">Delivery Information</h1>
            <hr>
            <h3>Free Standard Delivery On Selected Items</h3>
            <p>Free standard delievery is available on a wide variety of products across the entire store</p>
            <p>All orders over £150 will qualify for free delievery within the England, Scotland and Wales.</p>
            <p>All orders over £250 will qualify for free delivery across europe. <strong>Please Note</strong> 
                This only includes France, Spain, Switzerland, Italy, Germany, Croatia, Austria, Czechia, Portugal
                , Belgium, Netherlands, Hungary and Ireland</p>
            
            <hr>

            <div class="text-center m-4">
                <p>Cant find your question? Why not write to use! We aim to reply to all your questions within 24hours.</p>

                <a href="{% url 'contact' %}" class="btn btn-primary">Get in touch</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}