{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Frequently Asked Questions</h1>
            <hr>
            <h4 class="blue-text">
            What happens if there has been a delivery mishap to my order? (Damage or lost delivery)</h4>
            <p>We take a sence of pride in knowing that our orders will always be posted under Tracked and Signed for shipping.
             If however, your parcel has not arrived on time and is a further 7 days late we will send out a new shipment immedietly 
             to ensure customer satisfaction.</p>

            <h4 class="blue-text">How can I track my order?</h4>
            <p>All orders will be sent on Tracked and Signed for delivery. Once you have placed your order, out team will send you 
            a confirmation email, letting you know that your oders is being processed. After, we will email you to with the delievery information
            and tracking number once we have dispached your order.</p>

            <h4 class="blue-text">How long will it take for my order to arrive?</h4>
            <p>We post all our packages 1st class, tracked and signed for. This will ensure that your parcel will be with you within 1-2 days within 
            the UK.</p>
            <br>
            <p>If you have purchased one of our products and live within the EU, please allow for 3-5 day delivery.</p>

            <h4 class="blue-text">How do you ship your orders?</h4>
            <p>Here at Uncle Jib's we have are partnered with DPD and pack your products in both bubble wrap and boxed correctly ensuring 
            that no damage will be done.</p>

            <h4 class="blue-text">How do I return a product?</h4>
            <p>When returning on of your products, the item needs to be in its original packaging and undamage. There will be an A4 piece of paper
            in the original packaging with instructions on how to return the box. All return postage is free of charge! Just tape the return postage label 
            on the box and arrange a pick up time slot with DPD. </p>

            <hr>

            <div class="text-center m-4">
                <p>If you have a question, please feel free to write to us! We aim to reply to all questions within 24 hours.</p>

                <a href="{% url 'contact' %}" class="btn btn-cta btn-submit">Get in touch</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}