{% extends 'base.html' %}
{% load static %}

{% block title %} Index {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <img style="width: 100%" src="{% static 'images/mountian.jpg' %}" alt="snowboarding">
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto my-2 text-center">
                <h1 class="text-capitalize font-weight-bold">
                    Welcome to Uncle Jib's
                </h1>
                <h3>#EnjoyTheRide</h3>
                <br>
                <p>
                    Here at Uncle Jib's, we started out in 1953 by a small team of crazy, snow sports obsessed individuals... Also known as The White's family. 
                </p> 
                <p>
                    They saw an opportunity and believed they could start up a unique snowboard shop withing their garage. Nearly 80 year's later, Uncle Jib's has been going from strength 
                    to strength and has just recently moved its headquaters to North Yorkshire, UK. 
                </p>
                <p>
                    We know that there isn't much snow within the UK, but that doesnt mean there are no snowboards. 
                </p>
                <hr>
                <br>
                <h2 class="text-capitalize font-weight-bold">
                    Select Snowboard Category
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
    {% for i in '12345678' %}
        <div class="col-10 mx-auto col-md-8 col-lg-4">
            <div class="card-md-5" style="boarder-color: transparent;">
            
                <img src="{% static 'images/big.jpg' %}" class="carf-img-top">
            
                <div class="card-footer d-flex justify-content-between" style="background: transparent; boarder-color: transparent; padding: 20px;">
                    <p class="font-weight-bold mb-0">
                        Big Mountian Snowboard
                    </p>
                    <h5 class="text-info font-italic mb-0">
                        <span class="mr-1">£</span> 450
                    </h5>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>




{% endblock %}