{% extends 'base.html' %}

{% load static %}

{% block title %} Index {% endblock %}
<!-- index page-->
{% block content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto my-2 text-center">
                <h1 class="text-capitalize font-weight-bold">
                    Welcome to Uncle Jib's
                </h1>
                <h3>#EnjoyTheRide</h3>
                <br>
                <p>
                    Here at Uncle Jib's, we started out in 1953 by a small team of crazy, snow sports obsessed individuals... Also known as The Jibson family. 
                </p> 
                <p>
                    They saw an opportunity and believed they could start up a unique snowboard shop inside their garage. Nearly 80 year's later, Uncle Jib's has been going from strength 
                    to strength and has just recently moved its headquaters to North Yorkshire, UK. 
                </p>
                <p>
                    We know that there isn't much snow within the UK, but that doesnt mean there are no snowboards. 
                </p>
                <hr>
                <br>
                <h2 class="text-capitalize font-weight-bold">
                    Select Your Snowboarding Style!
                </h2>
                <br>
                <hr>
            </div>
        </div>
    </div>
</div>

<!--shows all the categories -->
<div class="container">
    <div class="row">
    <div class="col-sm-4">
        <div class="text-center">
        <div class="image"><img src="{% static 'images/allmountain.jpg' %}" alt="allmountain" width="200" height="150" class="rounded"></div>
        <br>
            <h3><i class="far fa-snowflake"></i>  All Mountain</h3>
                <div class="text-center p-3">
                    <p>You want to ride the whole mountain in style, switching from piste to park to powder with ease. 
                        Air off a few kickers, occasionally riding switch and at speed whenever you can. If this describes you, this page lists 
                        only those snowboards meeting this all mountain requirement. </p>
                    
                    <a href="{% url 'category' 'all_mountain' %}" class="btn btn-info">View Boards</a>
                    
                </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="text-center">
        <div class="image"><img src="{% static 'images/bigmountian.jpg' %}" alt="bigmountain" width="200" height="150" class="rounded"></div>
        <br>
            <h3><i class="fas fa-snowman"></i>  Big Mountain</h3>
                <div class="text-center p-3">
                    <p>Big Mountain, powder & backcountry snowboards - for the powder hound! You live for riding off-piste 
                    in the deep soft white stuff. Think about the type of rider you are and how you will be using your 
                    snowboard. If you are not sure - the 'All Mountain' option is the one to go for.</p>
                    <a href="{% url 'category' 'big_mountain' %}" class="btn btn-info">View Boards</a>
                </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="text-center">
        <div class="image"><img src="{% static 'images/freestyle.jpg' %}" alt="freestyle" width="200" height="150" class="rounded"></div>
        <br>
            <h3><i class="far fa-snowflake"></i>  Freestyle</h3>
                <div class="text-center p-3">
                    <p>Freeride snowboards are for cruising the pistes and powder, covering the entire resort as quickly as you can. 
                        Cutting sharp edges into the piste, then blasting off into the powder at every opportunity, dropping cliffs if you dare but speed rather 
                        than air is your thing.</p>
                    <a href="{% url 'category' 'freestyle' %}" class="btn btn-info">View Boards</a>
                </div>
        </div>
    </div>
    </div>

<br>


    <div class="row">
    <div class="col-sm-4">
        <div class="text-center">
        <div class="image"><img src="{% static 'images/park pipe.jpg' %}" alt="park pipe" width="200" height="150" class="rounded"></div>
        <br>
            <h3><i class="fas fa-snowman"></i>  Pipe and Pipe</h3>
                <div class="text-center p-3">
                    <p>If you are choosing a board for use in the snow park or half pipe, spins, grabs and kickers are your thing.
                        You'd rather spin 5 than carve hard turns into the piste! You need a specialised snowboard for this kind of riding. 
                        The snowboard park is the pace for big kickers and giant air!</p>
                    <a href="{% url 'category' 'pipe_park' %}" class="btn btn-info">View Boards</a>
                </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="text-center">
        <div class="image"><img src="{% static 'images/snow-park-1939642_1920.jpg' %}" alt="jib" width="200" height="150" class="rounded"></div>
        <br>
            <h3><i class="far fa-snowflake"></i>  Jib and Street</h3>
                <div class="text-center p-3">
                    <p>If you ride a jib or street style snowboard, rails and man made obstacles are your playground. 
                        You need a short, flexible, twin tip board with soft edges for sliding, jibbing and hitting boxes. Think about the type of rider 
                        you are and how you will be using your snowboard.</p>
                    <a href="{% url 'category' 'jib_street' %}" class="btn btn-info">View Boards</a>
                </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="text-center">
        <div class="image"><img src="{% static 'images/boardercross.jpg' %}" alt="boardercross" width="200" height="150" class="rounded"></div>
        <br>
            <h3><i class="fas fa-snowman"></i>  Boardercross</h3>
                <div class="text-center p-3">
                    <p>Boardercross snowboards are specialist snowboards designed for racing over the rough and tumble of a boarder cross course. 
                        Boardercross snowboards can handle any terrain and can therefore be ridden all mountain but they are not for all riders!</p>
                    <a href="{% url 'category' 'boardercross' %}" class="btn btn-info">View Boards</a>
                </div>
        </div>
    </div>
    </div>
<br>


    <div class="row">
    <div class="col-sm">
        <div class="text-center">
        <div class="image"><img src="{% static 'images/gloves.jpg' %}" alt="accessories" width="200" height="150" class="rounded"></div>
        <br>
            <h3><i class="fas fa-snowflake"></i>  Accessories</h3>
                <div class="text-center p-3">
                    <p>Why not have a look at our accessories too!</p>
                    <a href="{% url 'category' 'accessory' %}" class="btn btn-info">View Accessories</a>
                </div>
        </div>
    </div>
    </div>
</div>

<br>
    
    <hr>

<br>
<!--created the block icons to make sure people know about small details that they otherwise would have missed-->
<div class="containe">
    <div class="row">
        <div class="col-sm-4">
            <div class="text-center">
                <h3><i class="fas fa-globe-americas fa-4x"></i></h3>
                    <div class="text-center">
                        <h5>Fast and Free Shipping</h5>
                    </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="text-center">
                <h3><i class="fas fa-envelope-open-text fa-4x"></i></h3>
                    <div class="text-center">
                        <h5>24hr Customer Service</h5>
                    </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="text-center">
                <h3><i class="fas fa-truck-loading fa-4x"></i></h3>
                    <div class="text-center">
                        <h5>Free returns on all orders</h5>
                    </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}