{% extends 'base.html' %}

{% block title %}Returns {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Return Information</h1>
            <hr>
            <p>We are happy to refun all your goods on the condition that
                <ol>
                    <li>Once you have recieved your goods, the return must be requested within 30 days from recieving the items.</li>
                    <li>The goods are undamaged and in the original packaging.</li>
                    <li>The item has arrived faulty and/or the wrong size.</li>
                    <li>We offer free returns within the UK. Please see the return slip that came with your purchase.</li>
                </ol> 
            </p>
            <br>
            <p>If your return matches one or more of the above criteria, please feel free to return your product to us. Once we have recieved the product back at our main warehouse 
            we will issue a refund and the payment will be back into your account within 7 to 14 days. However, we will email you when the item arrives at the warehouse and if you are eligable 
            for a refund. </p>

            <div class="text-center m-4">
                <p>If you have a question, please feel free to write to us! We aim to reply to all questions within 24 hours.</p>

                <a href="{% url 'contact' %}" class="btn btn-cta btn-submit">Get in touch</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}