{% extends 'base.html' %}

{% block page_title %}Password Reset Sent{% endblock %}

{% block page_heading %}Password Reset Sent{% endblock %}

{% block content %}
<div class="container">
<div class="text-center">
    <p>We've emailed you instructions for setting your password. You should receive this shortly.</p>

    <p>If you don't receive an email, please make sure you've entered the 
    address you registered with.</p>

    <p>Click here to 
        <a href="{% url 'login' %}">login</a>
    </p>
</div>
</div>        
{% endblock %}
