{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}
    <div class="container">
    <div class="text-center">
    <!--Password reset form-->
    <form method="POST" class="accountform">
    <br>
        <h1>Forgotten your password?</h1>
        <br>
        <h5>We are here to help!</h5>
        <p>Please specify your email address to receive instructions for resetting your password.</p>
        <br>
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        
        {{ form.email.errors }}
        
        <p>
            <label for="id_email" class="control-label required-field">
                Email address:
            </label>
            {{ form.email }}            

            <button type="submit" class="btn btn-default">Reset Password</button>
        </p>
    </form>
    </div>
    </div>
{% endblock %}
