  {% extends 'base.html' %}

{% block title %}
Categories
{% endblock %}

{% block content %}

<div class="container">
{% for product in products %}
    <div class="row">
        <div class="col-sm-4">
        <br>
            <div class="text-center">
                <div class="image"><img src="{{ product.image_01 }}" alt="{{ product.name }}" width="200" height="150" class="rounded"></div>
                <br>
                <h4>{{ product.name }}</h4>
                <div class="text-center">
                    <p>{{ product.price}}</p>
                    <a class="btn btn-primary" href="" role="button">More Details!</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}