  {% extends 'base.html' %}

{% block title %}
Product Range
{% endblock %}

{% block content %}
<div class="container">



{% for product in products %}
    <div class="row">
        <div class="col-sm">
            <div class="text-center">
            <br>
            <br>
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image_01 }}')"></div>
            </div>
            <div class="text-center">
            <br>
                <h3>{{ product.name }}</h3>
                
                <p>£  {{product.price}}</p>
                <a class="btn btn-primary" href="{% url 'product_detail' product.id %}" role="button">Detials</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}