  {% extends 'base.html' %}

{% block title %}
Categories
{% endblock %}

{% block content %}
<div class="contain">
{% for product in products %}
    <div class="row">
    
        <div class="col-sm">
            <div class="text-center">
                <div class="card-image"> {{ product.image_01 }}</div>
            </div>
            <div class="text-center">
                <a href="">{{ product.name }}</a>
                <p>£  {{product.price}}</p>
                <a class="btn btn-primary" href="{% url 'product_detail' product_id=product.id %}" role="button">Detials</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}