body {
    background-color: #2c2e2f;
    color: #c5c5c5;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
color: #2fb8ce;
}

p {
    color: #c5c5c5;
}
/*---------------------------------- product.html page -----------------------------*/

.product_title {
   font-size: 30px;
   text-transform: uppercase;
   letter-spacing: .1em;
   padding-top: 15px;
   padding-bottom: 10px;
}

.product-text {
    padding-right: 20px;
}

.product-description {
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: .1em;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}


/*-------------------------------------------- cart.html page ------------------ */

.table_cart {
    min-width: 400px;
    font-size: 16px;
    color: white;
}

.thead_cart {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #007bff;
    color: #ffffff;

}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

table {
width: 100%;}
/* ------------------------------- CONTACT.HTML---------------------------------------------- */

.uppercase {
    text-transform: uppercase;
}

.contact-heading {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}

/* ---------------------------------- INDEX.HTML-------------------- */



@media only screen and (max-width: 1100px) {
 .carousel-inner img {
    width: 100%;
    height: 100%;
  }
}


/* divider for the index and the other pages*/ 

hr {
  
  height: 5px;
  border: 0;
  background-color: rgb(226, 226, 226);
  margin-top: 2em;

}

/* edit to the lists on */
.li {
    text-decoration: none;
}

/*Map*/

 div#map {
   width: 100%;
   height: 400px;
   background-color: grey;
   margin: 0 auto 0 auto;
 }

.copyright {
  color: white;
}


@breakpoint: 500px;

/* Responsive*/
==================================== 
@media all and (max-width: @breakpoint) {
  .Rtable--collapse  {
    display: block;
    > .Rtable-cell { width: 100% !important; }
    > .Rtable-cell--foot { margin-bottom: 1em; }
  }
}

// Non-Flex modernizer fallback
.no-flexbox .Rtable {
  display: block;
  > .Rtable-cell { width: 100%; }
  > .Rtable-cell--foot { margin-bottom: 1em; }
}
