body {
    font-family: Arial;
    margin-top: 50px;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

/* footer section */
.footer {
    background: #303030;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}

.footer .footer-bottom {
    text-align: center;
    background: #272727;
    color: #949494;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 100%;
}