{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
<div class="text-center">
    <form method="post" action="{% url 'register' %}" class="accountform">
        <fieldset class="form-group">
            <legend>
            <br>
            <h1>Create a new account</h1>
            </legend>
            <p>Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
            {% csrf_token %}
            {{  user_form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">Create account</button>
        </fieldset>
    </form>
</div>
</div>

{% endblock %}
