{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block title %} Cart {% endblock %}

{% block content %}
<div class="text-cent">
    <br>
    <div class="text-center product_title">
    Your Shopping Cart
    </div>
</div>

<br>

<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <table class="table table_cart">
            <thead class="thead_cart">
                <tr>
                    <th colspan="4">
                        Your Items
                    </th>
                </tr>
            </thead>
            {% for item in cart_items %}
            <tr>
                <td>
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image_01 }}')"></div>
                </td>
                <td class="text-left">
                    <p>{{ item.product.name }}</p>
                    <br>
                    <p>£{{ item.product.price }}</p>   
                </td>
                <td>
                    <p>{{ item.quantity }} x £{{ item.product.price }}</p>
                </td>
                <td>
                
                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.product.id %}">
                    {% csrf_token %}
                    <div class="form-group i">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                        <div class="imput-group-append">
                            <div class="input-group-addon">Qty   </div>
                            <input name="quantity" type="number" min="0" max="999" class="form-control">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Change Your Order?</button>
                    </div>    
                    </div>
                    </div>
                </form>
                </td>      
            </tr>
            
        </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <table class="table table_cart">
            <thead class="thead_cart">
                <tr>
                    <th colspan="4">
                        Check Out
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Please review your cart before proceeding to payment.
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        Your total is:   <strong>  £{{ item.product.price }}</strong>
                        <br>
                        
                        Your product: <strong>{{ item.product.name }}</strong>
                        <br>
                        Quantity: <strong>{{ item.quantity }}</strong>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <div class="mx-auto" style="width: 300px;">
            <a href="{% url 'checkout' %}">
                <button type="button" class="btn btn-warning btn-block">Proceed to Purchase as a Guest</button>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}