{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AuthenticateMe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sign Up to Uncle Jib's</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {%  else %}
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        {% block content %} {% endblock %}
    </div>


    <!--Fixed footer -->
    
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo"><span>Uncle Jib's</span></h1>
                    <p>
                    Here at Uncle Jib's we are a family run retailers who love snow and everything to do with it.
                    </p>
                    <div class="contact">
                        <span><i class="fas fa-phone"></i> &nbsp; 0800 666 9966</span>
                        <span><i class="fas fa-envolope"></i> &nbsp; info@unclejibs.com</span>
                    </div>
                    <div class="socials">
                        <a href="www.facebook.com"><i class="fab fa-facebook"></i></a>
                        <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
                        <a href="www.snapchat.com"><i class="fab fa-snapchat"></i></a>
                        <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
                    </div>
            </div>

            <div class="footer-section categories">
                <h2>Categories</h2>
                <br>
                <ul>
                    <a href="#"><li>Park/Pipe Boards</li></a>
                    <a href="#"><li>Jib/Street Boards</li></a>
                    <a href="#"><li>FreeRider Boards</li></a>
                    <a href="#"><li>All Mountain Boards</li></a>
                    <a href="#"><li>Boardercross Boards</li></a>
                    <a href="#"><li>Big Mountain Boards</li></a>
                </ul>
            </div>

            <div class="footer-section links">
                <h2>Useful Links</h2>
                <br>
                <ul>
                    <a href="#"><li>About</li></a>
                    <a href="#"><li>Contact</li></a>
                    <a href="#"><li>FAQ's</li></a>
                    <a href="#"><li>Delivery</li></a>
                    <a href="#"><li>Returns</li></a>
                </ul></div>
        </div>


        <div class="footer-bottom">
            Copyright Uncle Jib's © 2020. All rights reserved.
        </div>




</footer>
</body>
</html>