{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AuthenticateMe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sign Up to Uncle Jib's</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {%  else %}
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <!--Fixed footer -->
        <div class="footer-content">
            <div class="footer-section about"></div>
            <div class="footer-section links"></div>
            <div class="footer-section contact-form"></div>
        </div>


        <div class="footer-bottom">
            Copyright Uncle Jib's © 2020. All rights reserved.
        </div>



<!---
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="widget no-box">
                            <h5 class="widget-title">Categories<span></span></h5>
                                <ul class="thumbnail-widget">
                                <li>
                                    <div class="thumb-content"><a href="#.">Park/Pipe Boards</a></div>	
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">Jib/Street Boards</a></div>	
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">FreeRider Boards</a></div>	
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">All Mountain Boards</a></div>	
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">Boardercross Boards</a></div>	
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">Big Mountain Boards</a></div>	
                                </li>
                                </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span></h5>
                            <ul class="social-footer2">
                                <li class=""><a href="https://www.facebook.com/" target="_blank" title="Facebook"><img alt="Facebook" width="30" height="30"></a><i class="fab fa-facebook-square"></i></li>
                                <li class=""><a href="https://www.snapchat.com" target="_blank" title="Twitter"><img alt="Snapchat" width="30" height="30"></a><i class="fab fa-snapchat-square"></i></li>
                                <li class=""><a href="https://www.instagram.com/" target="_blank" title="instagram"><img alt="instagram" width="30" height="30"></a><i class="fab fa-instagram-square"></i></li>
                            </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright Uncle Jib's © 2020. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>

    -->
</footer>
</body>
</html>